<div class="navbar navbar-inverse">
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/create">Create Account</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</div>
