<div class="container">
  <h1>Events Management</h1>
  <a href="/login">Login</a>
  <a href="/create">Create an Account</a>
</div>

<div class="container">
  <h1>All Events</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>User</th>
    </tr>
    <% Event.all.each do |event| %>
    <tr>
      <td><%=event.name %></td>
      <td><%=event.location %></td>
      <td><%=event.user_id %></td>
    </tr>
    <% end %>
  </table>
  
</div>