<div class="hero-unit">
  <h1>Your Profile</h1>
  <p>User ID: <%=@user.id %></p>
  <p>Your email: <%=@user.email %></p>
  <button id="create" class="btn"><a href="/sales/create">Create an Event</a></button>
  <button id="events" class="btn"><a href=/events/<%= @user.id %>>See Your Events</a></button>
</div>

  